/*//////////////////////////////////////////*/
/*///////////  universal  //////////*/
/*//////////////////////////////////////////*/

body {
  background: url("../assets/planet-wallpaper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 75%;

}

p {
  font-size: 12px;
}

h2 {
  font-family: 'Press Start 2P', cursive;
}

h1  {
transition: 10s ease;
padding: 10px;
}

h1:hover {
-webkit-filter: blur(5px);
transition: 5s ease;

-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}



/*//////////////////////////////////////////*/
/*///////////  nav  //////////*/
/*//////////////////////////////////////////*/
/**/
/*#nav-wrapper {
  height: 61px;
  width: 505px;
  background-color: #672065;
  margin-top: -16px;
  margin-left: -8px;
  border-bottom-right-radius: 25px;
}
#header {
  height: 50px;
  width: 500px;
  background-color: #5f5f5f;
  opacity: 70%;
  margin-top: -16px;
  margin-left: -8px;
  border-bottom-right-radius: 25px;
}

#navbar {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  text-align: center;

  position: absolute;
  top: 10px;
  left: 10px;
  width: 500px;
}

.nav-links {
  text-decoration: none;
  color: inherit;
    font-family: 'Handlee', cursive;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding-right: 30px;
}*/

/**/

/*//////////////////////////////////////////*/
/*///////////  header  //////////*/
/*//////////////////////////////////////////*/

header   {
  margin: 30px 20px;
  font-size: 30px;
  text-align: center;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  margin-top: 70px;
  text-align: center;
  color: white;
  overflow: hidden;
}
/*//////////////////////////////////////////*/
/*///////////  div for each about me  //////////*/
/*//////////////////////////////////////////*/
#section-div {
  text-align: center;
  columns: 2;
}

.main-div-deco {
  margin: 30px;
  display: inline-block;
  text-align: center;
  width: 500px;
  border-radius: 20px;
  border: 5px solid #672065;
  background: #5f5f5f;
  position: relative;

}

.main-div-deco > img {
  clear: right;
  margin: 20px;
  border-radius: 5px;
  border: 5px solid #672065;
  width: 200px;
  height: 200px;
}

.each-div {
  margin: 30px 20px;
  height: 150px;
  overflow: hidden;
  padding: 20px;
  background: white;
  border-radius: 10px;
  font-family: helvetica;
  position: relative;
}

/*//////////////////////////////////////////*/
/*///////////  footer  //////////*/
/*//////////////////////////////////////////*/

a {
  text-decoration: none;
}

.footer-left {
  float: left;
  position: absolute;
}

footer {
  text-align: center;
  background: gray;
  margin: 30px 20px;
  border: 5px solid #672065;
  padding: 25px;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  opacity: .9;
  color: white;
  }

.footer-left a img {
  width: 40px;
}


/*/////////////////////////
///////
////// Link button
//////
/////////////////////////*/

.linkbtn {
    background-color: #672065;
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding: 10px 20px;
    font-size: 14px;
    border: 10px solid #5f5f5f;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    top: 10px;
}

/*/////////////////////////
///////
////// Link hover
//////
/////////////////////////*/

.linkbtn:hover, .linkbtn:focus {
    background-color: #672065;
}

.link-content {
    display: none;
    position: absolute;
    background-color:#5f5f5f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.link-content a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    font-family: 'Press Start 2P', cursive;
    text-align: left;

}

.link-content a:hover {background-color: white; color: black}

.show {display:block;}
