
/*//////////////////////////////////////////*/
/*///////////  universal  //////////*/
/*//////////////////////////////////////////*/

* {
  background: black;
  background-image: url("../assets/planet-wallpaper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  z-index: 5;
}

header {
  text-align: center;
}

.random-stuff > p {
  margin: auto;
  padding: 5%;
  border-radius: 10%;
  color: black;
  text-align: center;
}

.random-stuff img {
  float: left;
}

/*//////////////////////////////////////////*/
/*///////////   div containing planet div //////////*/
/*//////////////////////////////////////////*/

.page-title {
  width: 550px;
  position: absolute;
  text-align: justify;
  z-index: 0;
}

.planet-section {
  /*z-index: 99;
  position: relative;*/
  overflow: visible;
}

/*//////////////////////////////////////////*/
/*///////////   planet image selector   //////////*/
/*//////////////////////////////////////////*/


.planet-image {
  border-radius: 90%;
  height: 100px

}

#big-sun {
  height: 250px !important;
}

#big-sun:hover {
  -webkit-transform: scale(2.3)!important;
  -ms-transform: scale(2.3)!important;
  transform: scale(2.3)!important;
}

#planet-div-3 img {
  border-radius: 20%!important;
}

#astronaut:hover {
  cursor: default;
  transform: rotate(720deg);
  transition: all 2s ease-in-out 0s;
}

.page-title {
z-index: 0;
}

/*//////////////////////////////////////////*/
/*///////////   popup baloon element   //////////*/
/*//////////////////////////////////////////*/

.popupText {
  background: white;
  color: black;
  position: absolute;
  margin: auto;
  border: 3px solid gray;
  display: none;
  text-align: justify;
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  opacity: 0.6;
}

/*//////////////////////////////////////////*/
/*///////////    planet divs  //////////*/
/*//////////////////////////////////////////*/


#planet-div-1 {
  margin-left: 83%;
}


#planet-div-2 {
  margin-left: 79%;
}

#planet-div-3 {
  margin-left: 71.5%;

}

#planet-div-4 {
  margin-left: 67%;
}

#planet-div-5 {
  margin-left: 59%;
}

#planet-div-6 {
  margin-left: 51%;
}


#planet-div-7 {
  margin-left: 42%;
}

#planet-div-8 {
  margin-left: 30%;
}

#planet-div-9 {
  margin-left: 5%;
}

/*//////////////////////////////////////////*/
/*///////////     hover elements  //////////*/
/*//////////////////////////////////////////*/

.planet-image:hover {
  -webkit-transform: scale(3.5);
  -ms-transform: scale(3.5);
  transform: scale(3.5);
  transition: all 0.75s ease;
}

.planet-image:hover + div {
  display: block;
}
