body {
  background: url("../assets/planet-wallpaper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  opacity: 75%;
}

header {
  text-align: center;
}

a {
  text-decoration: none;
  color: #672065;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  text-align: center;
  color: white;
  overflow: hidden;
}

h1 {
transition: 10s ease;
padding: 10px;
}

h1:hover {
-webkit-filter: blur(5px);
transition: 5s ease;
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}

iframe {
  border: 8px solid #672065;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  background: gray;
  border: 5px solid #672065;
  padding: 25px;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  opacity: .9;
}

#nav-wrapper {
  height: 61px;
  width: 505px;
  background-color: #672065;
  margin-top: -16px;
  margin-left: -8px;
  border-bottom-right-radius: 25px;
}

#header {
  height: 50px;
  width: 500px;
  background-color: #5f5f5f;
  opacity: 70%;
  margin-top: -16px;
  margin-left: -8px;
  border-bottom-right-radius: 25px;
}

#navbar {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  padding-top: 15px;
  margin-left: 25px;
}

#big-sun {
  height: 250px !important;
}

#big-sun:hover {
  -webkit-transform: scale(2.3)!important;
  -ms-transform: scale(2.3)!important;
  transform: scale(2.3)!important;
}

#planet-div-3 img {
  border-radius: 20%!important;
}

#planet-div-1 {
  margin-left: 83%;
}

#planet-div-2 {
  margin-left: 79%;
}

#planet-div-3 {
  margin-left: 71.5%;
}

#planet-div-4 {
  margin-left: 67%;
}

#planet-div-5 {
  margin-left: 59%;
}

#planet-div-6 {
  margin-left: 51%;
}

#planet-div-7 {
  margin-left: 42%;
}

#planet-div-8 {
  margin-left: 30%;
}

#planet-div-9 {
  margin-left: 5%;
}

#astronaut {
transition: 10s ease;
}

#astronaut:hover {
  cursor: default;
  transform: rotate(7000deg);
  transition: all 10s ease-in-out 0s;
}

.nav-li {
  display: inline;
  padding-right: 80px;
  font-size: 9px;
  font-weight: bold;
}

.nav-links {
  text-decoration: none;
  color: inherit;
  font-family: 'Handlee', cursive;
  font-size: 18px;
}

.random-stuff > p {
  margin: auto;
  padding: 5%;
  border-radius: 10%;
  color: black;
  text-align: center;
}

.random-stuff img {
  float: left;
}

.page-title {
  width: 600px;
  position: absolute;
  text-align: justify;
  margin-left: 1%;
  font-family: sans-serif;
  top: 25%;
}

.page-title h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  text-align: left;
}

.planet-section {
  overflow: visible;
}

.star {
  width: 40px;
  opacity: 100%;
  border-radius: 100%;
  position: fixed;
}

.planet-image {
  border-radius: 90%;
  height: 100px
}

.popupText {
  background: white;
  color: black;
  position: absolute;
  margin: auto;
  border: 2px solid gray;
  display: none;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  width: 200px;
  opacity: 0.6;
  line-height: 15px;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

.planet-image {
  transition: 1s ease;
  z-index: 99;
}

.planet-image:hover {
  -webkit-transform: scale(3.5);
  -ms-transform: scale(3.5);
  transform: scale(3.5);
  transition: all 0.75s ease;
}

.planet-image:hover + div {
  display: block;
}

.spaceship-div {
  position: absolute;
  top: 145%;
  right: 40px;
  z-index: 0;
}

.spaceship-div img{
  width: 300px;
  transition: 5s ease;
}

.spaceship-div img:hover {
  cursor: default;
  transition: all 5s ease-in-out 0s;
  -webkit-transform: scale(.1)!important;
  -ms-transform: scale(.1)!important;
  transform: rotate(2000deg) scale(.1)!important;
}

.footer-left {
  float: left;
  position: absolute;
}

.footer-left a img {
  width: 40px;
}

.linkbtn {
  background-color: #672065;
  color: white;
  font-family: 'Press Start 2P', cursive;
  padding: 10px 20px;
  font-size: 14px;
  border: 10px solid #5f5f5f;
  cursor: pointer;
  border-radius: 5px
}

.linkbtn:hover, .linkbtn:focus {
  background-color: #672065;
}

.link-content {
  display: none;
  position: absolute;
  background-color:#5f5f5f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.link-content a {
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  display: block;
  font-family: 'Press Start 2P', cursive;
  text-align: left;
}

.link-content a:hover {
  background-color: white;
  color: black
}

.show {
  display:block;
}
