
/*//////////////////////////////////////////*/
/*///////////  universal  //////////*/
/*//////////////////////////////////////////*/

* {
  background: black;
  background-image: url("../assets/planet-wallpaper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header {
  text-align: center;
}

.random-stuff > p {
  margin: auto;
  padding: 5%;
  background: #999;
  border-radius: 10%;
  color: black;
  text-align: center;
}

.random-stuff img {
  float: left;
}

/*//////////////////////////////////////////*/
/*///////////   div containing planet div //////////*/
/*//////////////////////////////////////////*/

.page-title {
  width: 550px;
  position: absolute;
  text-align: justify;
  z-index: 0;
}

.planet-section {
  z-index: 99;
}

/*//////////////////////////////////////////*/
/*///////////   planet image selector   //////////*/
/*//////////////////////////////////////////*/


.planet-image {
  border-radius: 90%;
  height: 100px;
}

#big-sun {
  height: 250px !important;
}

#big-sun:hover {
  -webkit-transform: scale(1.3)!important;
  -ms-transform: scale(1.3)!important;
  transform: scale(1.3)!important;
}

#pluto-image {
  height: 200px;
  border-radius: 90%;
  border: 5px solid purple;
}

#pluto-image:hover {
  -webkit-transform: scale(1.3)!important;
  -ms-transform: scale(1.3)!important;
  transform: scale(1.3)!important;
}

/*//////////////////////////////////////////*/
/*///////////   popup baloon element   //////////*/
/*//////////////////////////////////////////*/

.popupText {
  background: white;
  color: black;
  border-radius: 20%;
  padding: 2%;
  position: absolute;
  /*width: 300px;*/
  margin: auto;
  border: 3px solid gray;
  display: none;
}

/*//////////////////////////////////////////*/
/*///////////    planet divs  //////////*/
/*//////////////////////////////////////////*/


#planet-div-1 {
  /*border: 5px solid orange;*/
  margin-left: 83%;
}


#planet-div-2 {
  /*border: 5px solid red;*/
  margin-left: 75%;
}

#planet-div-3 {
  /*border: 5px solid orange;*/
  margin-left: 69%;
}

#planet-div-4 {
  /*border: 5px solid red;*/
  margin-left: 62%;
}

#planet-div-5 {
  /*border: 5px solid orange;*/
  margin-left: 51%;
}

#planet-div-6 {
  /*border: 5px solid red;*/
  margin-left: 42%;
}


#planet-div-7 {
  /*border: 5px solid orange;*/
  margin-left: 30%;
}

#planet-div-8 {
  /*border: 5px solid red;*/
  margin-left: 20%;
}

#planet-div-9 {
  /*border: 5px solid orange;*/
  margin-left: 1%;
}



/*//////////////////////////////////////////*/
/*///////////     hover elements  //////////*/
/*//////////////////////////////////////////*/

.planet-image:hover {
  -webkit-transform: scale(4.5);
  -ms-transform: scale(4.5);
  transform: scale(4.5);
  transition: all 0.75s ease;
}

.planet-image:hover + div {
  display: block;
}
