

body {
background: url(../assets/space-background.jpg);
  opacity: 75%;
}

/*h1{
  text-align: center;
  font-family: 'Press Start 2P', cursive;

  font-size: 70px;
  margin: 20px;
  color: #fff;
}*/

textarea {
    display: inline-block;
}

input[type="radio"] {
  margin-right: 6px;
}

/*input .comment-stuff{
  width: 300px;
  height: 40px;
}*/

#qheader {
  font-size: 40px;
  padding-left: 20px;
  color: #672065
}


/*//////////////////////////////////////////*/
/*///////////  nav  //////////*/
/*//////////////////////////////////////////*/

.radio-btn {
/*text-align: left;*/
/*display: inline;*/
}

.question {
  color: #672065;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  line-height: 40px;

}

.answers {
  color: black;
  font-size: 20px;
  font-family: helvetica;
  /*text-align: left;*/
}

ul {
  columns: 2;
  /*text-align: left!important;*/
  line-height: 40px;

}
#submit-results {
  box-shadow: 2px 2px 5px #888888;
  height: 80px;
  width: 150px;
  font-size: 15px;
  border-radius: 10px;
  color: #672065;
  font-weight: bold;
}

#submit-results:hover {
background-color: rgba(0, 0, 0, 0.3);
padding: 4px
}

#try-again {
  box-shadow: 2px 2px 5px #888888;
  height: 80px;
  width: 150px;
  font-size: 15px;
  border-radius: 10px;
  color: #672065;
  font-weight: bold;
}

#try-again:hover {
background-color: rgba(0, 0, 0, 0.3);
padding: 4px
}

#form-and-comments {
  font-size: 25px;
  font-family: 'Press Start 2P', cursive;

  background-color: #fff;
  opacity: 0.7;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px 20px 50px;
  border-radius: 25px;
}

#quiz {
  padding-left: 80px;
  background-color: #fff;
  opacity: 0.7;
  width: 50%;
  height: auto;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px 20px 50px;
  border-radius: 25px;
  position: relative;
}

#qheader {
  padding-left: 75px;
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;

  margin: 15px;
}

#results {
  padding-top: 20px;
  padding-left: 100px;
  color: black;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;

}

#user-name {
  color: #672065;
  font-weight: bold;
}

#comment {
  color: #672065;
  font-weight: bold;
}

.nav-li {
  display: inline;
  padding-right: 80px;
  font-size: 18px;
  font-weight: bold;
}

.nav-links {
  text-decoration: none;
  color: inherit;
  font-family: 'Press Start 2P', cursive;

}

.question {
  color: black;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;

}

/*.answers {
  color: black;
  font-size: 25px;
  font-family: 'Press Start 2P', cursive;

}*/

.username-header {
  color: #672065;
  font-size: 15px;
}

.usercomment {
  font-style: italic;
  color: black;
  font-size: 18px;
}

#comments-intro {
  color: #672065;
  /*font-weight: bold;*/
  font-size: 18px;
}

#comments-button {
  box-shadow: 2px 2px 5px #888888;
  height: 80px;
  width: 150px;
  font-size: 15px;
  border-radius: 10px;
  color: #672065;
  font-weight: bold;
}

#comments-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px
}

.button-div {
  display: inline-block;

}


a {
  text-decoration: none;
}

.footer-left {
  float: left;
  position: absolute;
}

footer {
  text-align: center;
  background: gray;
  margin: 30px 20px;
  border: 5px solid #672065;
  padding: 25px;
  /*font-family: helvetica;*/
  font-size: 12px;
  opacity: .9;
  }

.footer-left a img {
  width: 40px;
}
