body {
  background: url(../assets/space-background.jpg);
  opacity: 75%;
}

h1{
  text-align: center;
  font-family: 'Handlee', cursive;
  font-size: 70px;
  margin: 20px;
  color: #fff;
}

textarea {
    display: inline-block;
}

input[type="radio"] {
  margin-right: 6px;
}

#qheader {
  font-size: 40px;
  padding-left: 20px;
  color: #672065
}


#nav-wrapper {
  height: 61px;
  width: 505px;
  background-color: #672065;
  margin-top: -16px;
  margin-left: -8px;
  border-bottom-right-radius: 25px;
}

#header {
  height: 50px;
  width: 500px;
  background-color: #5f5f5f;
  opacity: 70%;
  margin-top: -16px;
  margin-left: -8px;
  border-bottom-right-radius: 25px;
}

#navbar {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  padding-top: 15px;
  margin-left: 25px;
}

.nav-li {
  display: inline;
  padding-right: 80px;
  font-size: 18px;
  font-weight: bold;
}

.nav-links {
  text-decoration: none;
  color: inherit;
  font-family: 'Handlee', cursive;
}

.question {
  color: #672065;
  font-size: 30px;
  font-family: 'Handlee', cursive;
}

.answers {
  color: black;
  font-size: 25px;
  font-family: 'Handlee', cursive;
}

#submit-results {
  box-shadow: 2px 2px 5px #888888;
  height: 65px;
  width: 100px;
  font-size: 15px;
  border-radius: 10px;
  color: #672065;
  font-weight: bold;
}

#submit-results:hover {
background-color: rgba(0, 0, 0, 0.3);
padding: 4px
}

#try-again {
  box-shadow: 2px 2px 5px #888888;
  height: 65px;
  width: 75px;
  font-size: 15px;
  border-radius: 10px;
  color: #672065;
  font-weight: bold;
}

#try-again:hover {
background-color: rgba(0, 0, 0, 0.3);
padding: 4px
}

#form-and-comments {
  font-size: 25px;
  font-family: 'Handlee', cursive;
  background-color: #fff;
  opacity: 0.7;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px 20px 50px;
  border-radius: 25px;
}

#quiz {
  padding-left: 80px;
  background-color: #fff;
  opacity: 0.7;
  width: 50%;
  height: auto;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px 20px 50px;
  border-radius: 25px;
  position: relative;
}

#qheader {
  padding-left: 75px;
  font-size: 40px;
  font-family: 'Handlee', cursive;
  margin: 15px;
}

#results {
  padding-top: 20px;
  padding-left: 100px;
  color: black;
  font-size: 20px;
  font-family: 'Handlee', cursive;
}

#user-name {
  color: #672065;
  font-weight: bold;
}

#comment {
  color: #672065;
  font-weight: bold;
}

.username-header {
  color: #672065;
}

.usercomment {
  font-style: italic;
}

#comments-intro {
  color: #672065;
  font-weight: bold;
}

#comments-button {
  box-shadow: 2px 2px 5px #888888;
  height: 65px;
  width: 100px;
  font-size: 15px;
  border-radius: 10px;
  color: #672065;
  font-weight: bold;
}

#comments-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px
}

.button-div {
  display: inline-block;
}
