

body {
background: url(../assets/space-background.jpg);
  opacity: 75%;
}

h1{
  text-align: center;
  font-family: 'Handlee', cursive;
  font-size: 70px;
  margin: 20px;
  color: #fff;
}

textarea {
    display: inline-block;
}

input[type="radio"] {
  margin-right: 6px;
}

input {
  width:300px;
  height: 40px;
}

#qheader {
  font-size: 40px;
  padding-left: 20px;
  color: #672065
}

/*//////////////////////////////////////////*/
/*///////////  nav  //////////*/
/*//////////////////////////////////////////*/

#nav-wrapper {
  height: 61px;
  width: 505px;
  background-color: #672065;
  margin-top: -16px;
  margin-left: -8px;
  border-bottom-right-radius: 25px;
}
#header {
  height: 50px;
  width: 500px;
  background-color: #5f5f5f;
  opacity: 70%;
  margin-top: -16px;
  margin-left: -8px;
  border-bottom-right-radius: 25px;
}

#navbar {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  text-align: center;

  position: absolute;
  top: 10px;
  left: 10px;
  width: 500px;
}

.nav-links {
  text-decoration: none;
  color: inherit;
    font-family: 'Handlee', cursive;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding-right: 30px;
}


/*//////////////////////////////////////////*/
/*///////////  nav  //////////*/
/*//////////////////////////////////////////*/

.question {
  color: #672065;
  font-size: 30px;
  font-family: 'Handlee', cursive;
}

.answers {
  color: black;
  font-size: 25px;
  font-family: helvetica;
}

ul {
  columns: 2;
}
#submit-results {
  box-shadow: 2px 2px 5px #888888;
  height: 80px;
  width: 150px;
  font-size: 15px;
  border-radius: 10px;
  color: #672065;
  font-weight: bold;
}

#submit-results:hover {
background-color: rgba(0, 0, 0, 0.3);
padding: 4px
}

#try-again {
  box-shadow: 2px 2px 5px #888888;
  height: 80px;
  width: 150px;
  font-size: 15px;
  border-radius: 10px;
  color: #672065;
  font-weight: bold;
}

#try-again:hover {
background-color: rgba(0, 0, 0, 0.3);
padding: 4px
}

#form-and-comments {
  font-size: 25px;
  font-family: 'Handlee', cursive;
  background-color: #fff;
  opacity: 0.7;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px 20px 50px;
  border-radius: 25px;
}

#quiz {
  padding-left: 80px;
  background-color: #fff;
  opacity: 0.7;
  width: 50%;
  height: auto;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px 20px 50px;
  border-radius: 25px;
  position: relative;
}

#qheader {
  padding-left: 75px;
  font-size: 40px;
  font-family: 'Handlee', cursive;
  margin: 15px;
}

#results {
  padding-top: 20px;
  padding-left: 100px;
  color: black;
  font-size: 20px;
  font-family: 'Handlee', cursive;
}

#user-name {
  color: #672065;
  font-weight: bold;
}

#comment {
  color: #672065;
  font-weight: bold;
}

.nav-li {
  display: inline;
  padding-right: 80px;
  font-size: 18px;
  font-weight: bold;
}

.nav-links {
  text-decoration: none;
  color: inherit;
  font-family: 'Handlee', cursive;
}

.question {
  color: black;
  font-size: 30px;
  font-family: 'Handlee', cursive;
}

/*.answers {
  color: black;
  font-size: 25px;
  font-family: 'Handlee', cursive;
}*/

.username-header {
  color: #672065;
}

.usercomment {
  font-style: italic;
}

#comments-intro {
  color: #672065;
  font-weight: bold;
}

#comments-button {
  box-shadow: 2px 2px 5px #888888;
  height: 80px;
  width: 150px;
  font-size: 15px;
  border-radius: 10px;
  color: #672065;
  font-weight: bold;
}

#comments-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px
}

.button-div {
  display: inline-block;

}


a {
  text-decoration: none;
}

.footer-left {
  float: left;
  position: absolute;
}

footer {
  text-align: center;
  background: gray;
  margin: 30px 20px;
  border: 5px solid #672065;
  padding: 25px;
  font-family: helvetica;
  font-size: 12px;
  opacity: .9;
  }

.footer-left a img {
  width: 40px;
}
