body {
  background: url(../assets/space-background.jpg);
  opacity: 75%;
}

h1 {
  text-align: center;
  font-family: 'Handlee', cursive;
  font-size: 70px;
  margin: 20px;
  color: #fff;
}
/*/////*/

#nav-wrapper {
  height: 61px;
  width: 505px;
  background-color: #672065;
  margin-top: -16px;
  margin-left: -8px;
  border-bottom-right-radius: 25px;
}
#header {
  height: 50px;
  width: 500px;
  background-color: #5f5f5f;
  opacity: 70%;
  margin-top: -16px;
  margin-left: -8px;
  border-bottom-right-radius: 25px;
}

#navbar {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  text-align: center;

  position: absolute;
  top: 10px;
  left: 10px;
  width: 500px;
}

.nav-links {
  text-decoration: none;
  color: inherit;
    font-family: 'Handlee', cursive;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding-right: 30px;
}
/*////////////*/

#welcome-wrapper {
  background color: #672065;
  width: 60%;
  height: auto;
  border-top: 70px;
  border-bottom: 70px;
}

#welcome {
  background-color: #fff;
  opacity: 0.7;
  width: 50%;
  height: auto;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px 20px 50px;
  border-radius: 25px;
  position: relative;
}

#confirm-h1 {
  font-size: 40px;
  text-align: center;
  color: #672065
}

#welcome-one {
font-size: 22px;
}

#welcome-two {
  text-align: center;
  font-weight: bold;
  color: #672065;
}

#return-home {
  color: inherit;
}




/*/////////*/

a {
  text-decoration: none;
}

.footer-left {
  float: left;
  position: absolute;
}

footer {
  text-align: center;
  background: gray;
  margin: 30px 20px;
  border: 5px solid #672065;
  padding: 25px;
  font-family: helvetica;
  font-size: 12px;
  opacity: .9;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  }

.footer-left a img {
  width: 40px;
}
