body{
  background-color: gray;
  background-image: url('../assets/space-background.jpg');
  color: white;
  }

/*button {
  box-shadow: 2px 2px 5px #888888;
}*/

/*button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px
}*/

h1 {
  text-align: center;
font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  margin-top: 70px;
}

h2 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  margin-bottom: 70px;
}


fieldset {
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  color: black;
}

.pid {
  color: white;
  font-family: helvetica;
 font-size: 30px;
  letter-spacing: -1px;
  /*background: rgb(0, 0, 0);*/
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  position: absolute;
  top: 87px;
  left: 15px;
  width: 50%%;
  border-radius: 5px;
  /*opacity: .7*/
}

#center {
  display:block;
  text-align:center;
  margin: auto;
  display: block;
  text-align: center;
  margin: auto;
}

#day-pic {
  position: relative;
  width: 1000PX;
  display: inline-block;
  display: block;
  text-align: center;
  margin: auto;
}

#subscribe {
  overflow: hidden;
  float: right;
  margin: 20px;
  font-family: helvetica;
  font-size: 20px;
  background-color: #fff;
  opacity: 0.7;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 220px;
}


#bigImage {
  margin-top: 59px;
  border-radius: 5px;
  border: 8px solid #672065;
  width: 97%;
  transition: 1s ease;
}

#bigImage:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.75s ease;
}

iframe {
  border: 8px solid #672065;
  width: 967px;
  height: 500px;
  border-radius: 5px;
}
.dayPicInfo {
  margin: auto;
  color: white;
  width: 96%;
  font-family: helvetica;
  padding: 10px;
  font-size: 20px;
  text-align: justify;
  /*background: grey opacity: .7;*/
  border-radius: 5px;

}

#imageLink{
  border: 7px solid rgba(103, 32, 101, 0.44);
  margin: 15px;
  border-radius: 15px;
}

.edu img{
  transition: 1s ease;
  /*z-index: 99;*/
}

.edu img:hover {
  -webkit-transform: scale(.7);
  -ms-transform: scale(.7);
  transform: scale(.7);
  transition: all 0.75s ease;
}
/*

.edu :hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  border-radius: 10px;
}

.edu {
  margin: 15px
  border-radius: 15px;
}*/


/*//////////////////////////////////////////*/
/*///////////  nav  //////////*/
/*//////////////////////////////////////////*/
/*
#nav-wrapper {
  height: 61px;
  width: 505px;
  background-color: #672065;
  margin-top: -16px;
  margin-left: -8px;
  border-bottom-right-radius: 25px;
}
#header {
  height: 50px;
  width: 500px;
  background-color: #5f5f5f;
  opacity: 70%;
  margin-top: -16px;
  margin-left: -8px;
  border-bottom-right-radius: 25px;
}

#navbar {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  text-align: center;

  position: absolute;
  top: 10px;
  left: 10px;
  width: 500px;
}

.nav-links {
  text-decoration: none;
  color: inherit;
    font-family: 'Handlee', cursive;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding-right: 30px;
}*/

/*/////////////////////////
///////
////// Link button
//////
/////////////////////////*/

.linkbtn {
    background-color: #672065;
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding: 10px 20px;
    font-size: 14px;
    border: 10px solid #5f5f5f;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    top: 10px;
}

/*/////////////////////////
///////
////// Link hover
//////
/////////////////////////*/

.linkbtn:hover, .linkbtn:focus {
    background-color: #672065;
}

.link-content {
    display: none;
    position: absolute;
    background-color:#5f5f5f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.link-content a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    font-family: 'Press Start 2P', cursive;
    text-align: left;

}

.link-content a:hover {background-color: white; color: black}

.show {display:block;}

/*/////////////////////////
///////
//////FOOTER
//////
/////////////////////////*/



a {
  text-decoration: none;
}

.footer-left {
  float: left;
  position: absolute;
}

footer {
  text-align: center;
  background: gray;
  margin: 30px 20px;
  border: 5px solid #672065;
  padding: 25px;
font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  opacity: .9;
  }

.footer-left a img {
  width: 40px;
}
