body{
  background-color: gray;
  background-image: url('../assets/space-background.jpg');
  color: white;
  }

/*button {
  box-shadow: 2px 2px 5px #888888;
}*/

/*button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px
}*/

h1 {
  text-align: center;
font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  margin-top: 70px;
}

h2 {
  text-align: center;
  font-family: helvetica;
  font-size: 30px;
  margin-bottom: -5px;
  /*margin-bottom: 0px;*/
}



.pid {
  color: white;
  font-family: helvetica;
  font-size: 30px;
  letter-spacing: -1px;
  /*background: rgb(0, 0, 0);*/
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  position: absolute;
  top: 68px;
  left: 27px;
  width: 50%%;
  border-radius: 5px;
  /*opacity: .7*/
}

#center {
  display:block;
  text-align:center;
  margin: auto;
  display: block;
  text-align: center;
  margin: auto;
}

#day-pic {
  position: relative;
  width: 1000PX;
  display: inline-block;
  display: block;
  text-align: center;
  margin: auto;
}

#subscribe {
  overflow: hidden;
  float: right;
  margin: 20px;
  font-family: helvetica;
  font-size: 20px;
  background-color: white;
  /*opacity: 0.7;*/
  border-radius: 20px;
  position: absolute;
  opacity: .7;
  right: 0;
  top: 209px;
}


.submit {
  border-radius: 20px;
  /*padding: 13px;*/
  margin: 2px;
  color: black;
  opacity: .7;
  /*position: fixed;
  top: 229px;
  right: 7px;*/
  background: white;
  text-align: justify;
}


#bigImage {
  margin-top: 18px;
  border-radius: 5px;
  border: 8px solid #672065;
  width: 97%;
  transition: 1s ease;
}

#bigImage:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.75s ease;
}

iframe {
  border: 8px solid #672065;
  width: 967px;
  height: 500px;
  border-radius: 5px;
}
.dayPicInfo {
  margin: auto;
  color: white;
  width: 96%;
  font-family: helvetica;
  padding: 10px;
  font-size: 30px;
  text-align: justify;
  /*background: grey opacity: .7;*/
  border-radius: 5px;

}



#imageLink{
  border: 7px solid rgba(103, 32, 101, 0.44);
  margin: 15px;
  border-radius: 15px;
}

.edu img{
  transition: 1s ease;
  /*z-index: 99;*/
}

.edu img:hover {
  -webkit-transform: scale(.7);
  -ms-transform: scale(.7);
  transform: scale(.7);
  transition: all 0.75s ease;
}

/*/////////////////////////
///////
////// Link button
//////
/////////////////////////*/

.linkbtn {
    background-color: #5f5f5f;
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding: 10px 20px;
    font-size: 14px;
    border: 10px solid #672065;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    top: 10px;
}

/*/////////////////////////
///////
////// Link hover
//////
/////////////////////////*/

.linkbtn:hover, .linkbtn:focus {
    background-color: #672065;
}

.link-content {
    display: none;
    position: absolute;
    background-color:#5f5f5f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.link-content a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    font-family: 'Press Start 2P', cursive;
    text-align: left;

}

.link-content a:hover {background-color: white; color: black}

.show {display:block;}

/*/////////////////////////
///////
//////FOOTER
//////
/////////////////////////*/



a {
  text-decoration: none;
}

.footer-left {
  float: left;
  position: absolute;
}

footer {
  text-align: center;
  background: gray;
  margin: 30px 20px;
  border: 5px solid #672065;
  padding: 25px;
font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  opacity: .9;
  }

.footer-left a img {
  width: 40px;
}
