body{
  background-color: gray;
  background-image: url('../assets/space-background.jpg');
  color: white;
  }

button {
  box-shadow: 2px 2px 5px #888888;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px
}

h1 {
  text-align: center;
  font-family: 'Handlee', cursive;
  font-size: 70px;
  margin: 20px;
}

fieldset {
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  color: black;
}

span {
  color: white;
  font-family: 'Handlee', cursive;
  font-size: 30px;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 50%%;
  border-radius: 15px;
}

#center {
  display:block;
  text-align:center;
  margin: auto;
  display: block;
  text-align: center;
  margin: auto;
}

#day-pic {
  position: relative;
  width: 700PX;
  display: inline-block;
  display: block;
  text-align: center;
  margin: auto;
}

#subscribe {
  overflow: hidden;
  float: right;
  margin: 20px;
  font-family: 'Handlee', cursive;
  font-size: 20px;
  background-color: #fff;
  opacity: 0.7;
  border-radius: 10px;
  position: absolute;
  right: 0;
}


#bigImage {
  border-radius: 10px;
  border: 7px solid rgba(103, 32, 101, 0.44);
}

#dayPicInfo {
  margin: auto;
  width: 100%;
  font-family: 'Handlee', cursive;
  padding: 10px;
  font-size: 20px;
}

#imageLink{
  border: 7px solid rgba(103, 32, 101, 0.44);
  margin: 15px;
  border-radius: 15px;
}

.edu :hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  border-radius: 10px;
}

.edu {
  margin: 15px
  border-radius: 15px;
}


/*//////////////////////////////////////////*/
/*///////////  nav  //////////*/
/*//////////////////////////////////////////*/

#nav-wrapper {
  height: 61px;
  width: 505px;
  background-color: #672065;
  margin-top: -16px;
  margin-left: -8px;
  border-bottom-right-radius: 25px;
}
#header {
  height: 50px;
  width: 500px;
  background-color: #5f5f5f;
  opacity: 70%;
  margin-top: -16px;
  margin-left: -8px;
  border-bottom-right-radius: 25px;
}

#navbar {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  text-align: center;

  position: absolute;
  top: 10px;
  left: 10px;
  width: 500px;
}

.nav-links {
  text-decoration: none;
  color: inherit;
    font-family: 'Handlee', cursive;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding-right: 30px;
}
